:root {
    /*paleta de colores */
  --color-background: #F5F5F5;
  --color-text-primary: #333333;
  --color-divider: #E0E0E0;
  --color-border: #CCCCCC;
  --color-text-secondary: #666666;
  --color-accent-blue: #4285F4;
  --color-text-white: #FFFFFF;
  

    /* Espaciado  */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

button{
   border: transparent;
   padding: var(--spacing-md);
   color: var(--color-text-white);
   background-color: transparent;
}
.info_button{
    color: var(--color-text-primary);
    font-size: 1.5rem;
    
}
#add_task_button{
    display: flex;
    align-items: center;
    background-color: var(--color-accent-blue);
    font-size: 1.5rem;
    border-radius: 50%;
}

#filter_container button:focus{
    border-bottom: solid 3px var(--color-accent-blue);

}
html, body{
    display: flex;
    height: 100%;
}
body{
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-background);
}
#container{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--color-border);
    border-radius: 10px;
    max-height: 400px;    
}
.header{
    display: flex;
    background-color:rgb(155, 150, 224);
    padding: var(--spacing-xl);
    color: var(--color-text-white);
   
}
#header h1{
    font-weight: 200;
}
#options_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: var(--spacing-xl);
    flex: 1;
    
}
#options_container button{
    height: 50px;
}
#filter_container{
    display: flex;
    flex-direction: row;
    padding-left: var(--spacing-md);
    gap: var(--spacing-lg);
    height: 100%;
}
#add_button_container{
    display: flex;
    align-items: center;
    margin-top: -50px;
    
}

#task_container{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}
.task{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-md);
    border-top: solid 1px var(--color-border);
}
.task_info{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    color: var(--color-text-secondary);
    
}


#add_task_modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#add_task_modal.hidden {
    display: none;
}

#add_task_container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    border: solid 1px var(--color-border);
    border-radius: 0.5rem;
    background-color: var(--color-background);
    min-width: 400px;
    
    
    
    
}
#info{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    color: var(--color-text-secondary);

}

#title_field{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
}
#title_field input{
    width: 80%;
    border: transparent;
    border-bottom: solid 1px var(--color-accent-blue);
    
}
#title_field input:focus{
    outline: none;
    color: var(--color-text-primary);
}
#description_field{
    display: flex;
    flex: 1;
}
#description_field textarea{
    width: 80%;
    height: 3rem;
    resize: none;
    padding: var(--spacing-sm);
    border-color: var(--color-accent-blue);
    color: var(--color-text-primary);


}
#description_field textarea{
    outline: none;
}
#modal_actions{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-weight: bold;
    gap: var(--spacing-md);
    padding-right:var(--spacing-md) ;
}
#modal_actions button{
    color: var(--color-text-white);
    background-color: var(--color-accent-blue);
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: 0.25rem;
}
